.adapter-panel {
    position: absolute;
    border-radius: 15px;

    background: linear-gradient( rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.7) ), url(../../public/imgs/bg2.jpg);

    width: 280px;
    height: 180px;

    padding: 30px;

    left: 1000px;
    top: 90px;

    animation: windows-animation 3s ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    .adapter-panel-list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-between;

        gap: 10px;

        a {
            position: relative;
            font-family: "MTS WIBE BOLD";
            font-size: 20px;
            background-color: #0FFF43;
            border-radius: 10px;
            color: black;
            padding: 15px 20px 15px 20px
        }
        a:hover {
            background-color: black;
            color: #0FFF43;
            border: #0FFF43 1px solid;
        }

    }

}