.background-layers {
    perspective: 1000px;
    perspective-origin: center;
    overflow: hidden;
    background-color: black;

    .layers-container {
        height: 100vh;
        
        transform-style: preserve-3d;
        background: transparent;
        transform: rotateX(var(--move-y)) rotateY(var(--move-x));
        will-change: transform;
        transition: transform 2s cubic-bezier(.05, .5,0,1);

        .layers-item {
            position: absolute;
            background-size: cover;
            background-position: center;
        }

        .layer-1 {
            transform: translateZ(-50px);
            opacity: 0.1;
            inset: -34vw;
            background-image: url(../../public/imgs/bg.jpg);

        }

        .layer-2 {
            filter: brightness(1.9);
            transform: translateZ(100px) translateX(var(--second-move-x));
            inset: -5vw;
            transition: transform 3s cubic-bezier(.05, .5,0,1);
            background-image: url(../../public/imgs/render2.png);
        }

    }
}