.anim1 {

  background: linear-gradient(to right, #000000, #000000 50%, #74e800 50%);
  background-size: 200% 100%;
  background-position: 100%;

  transition: all 275ms ease;

  a {
    background: linear-gradient(to right, #74e800, #74e800 50%, #000000 50%);
  
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    background-size: 200% 100%;
    background-position: 100%;
    background-color: transparent;

    position: relative;
    text-decoration: none;
    border: #74e800 1px solid;

    transition: all 275ms ease;
  }
  &:hover {
    background-position: 0 100%;
    a {
        background-position: 0 100%;
        border: dashed #295100 1px;
    }
  }
}